#sidebar {
  background: #000;
  box-shadow: 0 0 5px 3px #888;
}
#sidebar:hover,
#sidebar:focus {
  box-shadow: 0 0 5px 3px #0FF;
}

.panel {
  background: #000;
  box-shadow: 0 0 5px 3px #888;
}
.panel:hover,
.panel:focus {
  box-shadow: 0 0 5px 3px #0FF;
}
.panel_close {
  background: rgba(0, 0, 0, 0.75);
}
.panel_heading {
  color: #AFF;
}

.button:hover,
.button:focus {
  color: #0FF;
  outline: none;
}
.button:focus:active {
  color: #0F0;
}
